@model IEnumerable<BlogTest.Models.PostComment>

@{
    ViewData["Title"] = "Index";
}

<header class="masthead" style="background-image: url('/img/about-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="post-heading">
                    <h1 style="color:white;">Comment list</h1>
                    <h2 class="subheading" style="color:white;">I love reading comment.</h2>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="container-fluid">
    <div class="row">
        <div class="col text-center">
            <button class="btn btn-secondary"><a asp-action="Create">Create New Comment</a></button>
        </div>
    </div>
    <br />
    <div class="row">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Content)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CommentDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Update)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.IsModerated)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Moderated)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ModeratedReason)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ModeratedContent)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PostCategory)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.BlogUserId)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.Raw(item.Content)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CommentDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Update)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IsModerated)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Moderated)
                        </td>
                        <td>
                            @Html.Raw(item.ModeratedReason)
                        </td>
                        <td>
                            @Html.Raw(item.ModeratedContent)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PostCategory.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.BlogUserId)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div> 
</div>  